<!-- HTML source code for base4 page for responsive navbars and basic webpage when logged in -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - Task Management System</title> <!-- Title of the webpage -->

    <link rel="stylesheet" href="/static/style2.css"> <!-- Link to the main CSS file for navbar and all webpages that use base4.html -->
  <script src="/static/navbar.js"></script> <!-- Link to the main JavaScript file for functionality for navbar -->
</head>
<body>
    <header>
    <div class="container"> <!-- Container for the navbar -->
      <input type="checkbox" name="check" id="check">
      <div class="logo-container">
        <h3 class="logo"><span>Task&nbsp;</span><span>Management&nbsp;</span><span>System</span></h3>
      </div>

      <div class="nav-btn">
        <div class="nav-links">
          <ul>
            <li class="nav-link" style="--i: .6s">
              <a href="{{ url_for('userhome') }}">Home</a>
            </li>
            <li class="nav-link" style="--i: .85s">
              <a href="#"><span>Manage&nbsp;</span><span>Tasks</span><span>▼</span><i class="fas fa-caret-down"></i></a>
              <div class="dropdown"> <!-- Dropdown for the tasks -->
                <ul>
                  <li class="dropdown-link">
                    <a href="{{ url_for('addtask') }}">Create Task</a>
                  </li>
                  <li class="dropdown-link">
                    <a href="{{ url_for('viewtasks') }}">View Tasks</a>
                  </li>
                  <li class="dropdown-link">
                    <a href="{{ url_for('updatetask') }}">Update Task</a>
                  </li>
                  <li class="dropdown-link">
                    <a href="{{ url_for('deletetask') }}">Delete Task</a>
                  </li>
                  <div class="arrow"></div>
                </ul>
              </div>
            </li>
            <li class="nav-link" style="--i: 1.1s">
              <a href="#"><span>Manage&nbsp;</span><span>Projects</span><span>▼</span><i class="fas fa-caret-down"></i></a>
              <div class="dropdown"> <!-- Dropdown for the projects -->
                <ul>
                  <li class="dropdown-link">
                    <a href="{{ url_for('addproject') }}">Create Project</a>
                  </li>
                  <li class="dropdown-link">
                    <a href="{{ url_for('viewprojects') }}">View Projects</a>
                  </li>
                  <li class="dropdown-link">
                    <a href="{{ url_for('updateproject') }}">Update Project</a>
                  </li>
                  <li class="dropdown-link">
                    <a href="{{ url_for('deleteproject') }}">Delete Project</a>
                  </li>
                  <div class="arrow"></div>
                </ul>
              </div>
            </li>
            <li class="nav-link" style="--i: 1.1s">
              <a href="#"><span>Manage&nbsp;</span><span>Account</span><span>▼</span><i class="fas fa-caret-down"></i></a>
              <div class="dropdown"> <!-- Dropdown for the account -->
                <ul>
                  <li class="dropdown-link">
                    <a onclick="viewAccountDetails()">View Account Details</a>
                  </li>
                  <li class="dropdown-link">
                    <a onclick="updateAccountDetails()">Change Account Details</a>
                  </li>
                  <li class="dropdown-link">
                    <a onclick="changeUserName()">Change Username</a>
                  </li>
                  <li class="dropdown-link">
                    <a onclick="changePassword()">Change Password</a>
                  </li>
                  <li class="dropdown-link">
                    <a onclick="deleteAccount()">Delete Account</a>
                  </li>
                  <div class="arrow"></div>
                </ul>
              </div>
            </li>
              <li class="nav-link" style="--i: 1.1s">
              <a href="#"><span>Manage&nbsp;</span><span>Users</span><span>▼</span><i class="fas fa-caret-down"></i></a>
              <div class="dropdown"> <!-- Dropdown for the user management -->
                <ul>
                  <li class="dropdown-link">
                    <a onclick="viewUsers()">View Users</a>
                  </li>
                  <li class="dropdown-link">
                    <a onclick="changeAccountType()">Change User Type</a>
                  </li>
                  <li class="dropdown-link">
                    <a onclick="deleteUser()">Delete User</a>
                  </li>
                  <li class="dropdown-link">
                    <a onclick="blockUser()">Block User</a>
                  </li>
                  <li class="dropdown-link">
                    <a onclick="unblockUser()">Unblock User</a>
                  </li>
                    <li class="dropdown-link">
                    <a onclick="changeUserPassword()">Change User Password</a>
                  </li>
                    <li class="dropdown-link">
                    <a onclick="reset()">Reset Task Management System</a>
                  </li>
                  <div class="arrow"></div>
                </ul>
              </div>
            </li>
            <div class="log-sign" style="--i: 1.8s">
          <a href="{{ url_for('index') }}" class="btn solid"><span>Log&nbsp;</span><span>Out</span></a> <!-- Log out button -->
        </div>
          </ul>
        </div>

      </div>

      <div class="hamburger-menu-container"> <!-- Hamburger menu for mobile view -->
        <div class="hamburger-menu">
          <div></div>
        </div>
      </div>
    </div>
  </header>
    <main>
    <section>
      <div>
    <hr>
    <div class="content">
        {% for message in get_flashed_messages() %}
            <div class="badalert">{{ message }}</div> <!-- Enable Flash messages for the user -->
        {% endfor %}
        {% block content %} {% endblock %}
    </div>
    </div>
    </section>
    </main>
<br>
<br>
<br>
<br>
<br>
</body>
</html>
