<!-- HTML source code for Change Password page -->
<!-- Original HTML based on codepen.io responsive form template and modified by S275931 to suit the application. https://codepen.io/andstudio/pen/eYNeMM --><head>
  <link rel="stylesheet" href="/static/formstyle.css"> <!-- Link to the CSS file for the form -->
</head>
{% extends 'base4.html' %} <!-- Extend from base4.html which is the HTML file for the responsive navbar once logged in -->

{% block content %} <!-- The content block is where the HTML code for the page is placed -->

          <h1 class="heading1">{% block title %} Change Password {% endblock %}</h1> <!-- The title of the page -->
          <div class="wpcf7" id="wpcf7-f156-p143-o1 formwrap">
    <form method="post" class="wpcf7-form" novalidate="novalidate"> <!-- The form for the user to change their password -->
        <div style="display: none;">
            <input type="hidden" name="_wpcf7" value="156">
            <input type="hidden" name="_wpcf7_version" value="3.7.2">
            <input type="hidden" name="_wpcf7_locale" value="en_US">
            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f156-p143-o1">
            <input type="hidden" name="_wpnonce" value="d1da331d93">
        </div>
        <p>
           <span class="wpcf7-form-control-wrap username">
             <label class="text1">Username:</label>
             <input type="text" name="username" value="" size="40" class="textinput wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Your current username.">
          </span>
          <span class="wpcf7-form-control-wrap newUsername">
             <label class="text1">Existing Password:</label>
             <input type="password" name="password" value="" size="40" class="textinput wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Enter your current password to authorise changes.">
          </span>
          <span class="wpcf7-form-control-wrap confirmNewUsername       ">
             <label class="text1">New Password:</label>
             <input type="password" name="newPassword" value="" size="40" class="textinput wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Enter new password.">
          </span>
          <span class="wpcf7-form-control-wrap password">
             <label class="text1">Confirm New Password:</label>
             <input type="password" name="confirmPassword" value="" size="40" class="textinput wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Confirm new password.">
          </span>
          <button type="submit" class="btn transparent">Change Password</button> <!-- The submit button for the form -->
            <br>
            <br>
            <br>
          <img class="ajax-loader" src="http://www.jordancundiff.com/wp-content/plugins/contact-form-7/images/ajax-loader.gif" alt="Sending ..." style="visibility: hidden;">
      </p>
      <div class="wpcf7-response-output wpcf7-display-none">
      </div>
  </form>
</div>


{% endblock %} <!-- End of the content block -->
```