<!-- HTML source code for update task page -->
<!-- Original HTML based on codepen.io responsive form template and modified by S275931 to suit the application. https://codepen.io/andstudio/pen/eYNeMM -->
<head>
  <link rel="stylesheet" href="/static/formstyle.css"> <!-- Link to the CSS file to style form-->
</head>
{% extends 'base4.html' %} <!-- Extend from base4.html which is the HTML file for the responsive navbar while logged in -->

{% block content %} <!-- Content block for the update task page -->

          <h1 class="heading1">{% block title %} Update Task {% endblock %}</h1> <!-- Title for the update task page -->
          <div class="wpcf7" id="wpcf7-f156-p143-o1 formwrap">
    <form method="post" class="wpcf7-form" novalidate="novalidate"> <!-- Form for updating a task -->
        <div style="display: none;">
            <input type="hidden" name="_wpcf7" value="156">
            <input type="hidden" name="_wpcf7_version" value="3.7.2">
            <input type="hidden" name="_wpcf7_locale" value="en_US">
            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f156-p143-o1">
            <input type="hidden" name="_wpnonce" value="d1da331d93">
        </div>
        <p>
           <span class="wpcf7-form-control-wrap TaskID">
             <label class="text1">Task ID:</label>
             <input type="number" name="taskid" value="" size="40" class="textinput wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Must be a whole number.">
          </span>
          <span class="wpcf7-form-control-wrap Title">
             <label class="text1">Title:</label>
             <input type="text" name="title" value="" size="40" class="textinput wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Title text here.">
          </span>
          <span class="wpcf7-form-control-wrap description">
            <label class="text1"><Description>Description</Description>:</label>
            <textarea class="md-textarea form-control rounded-0" id="description" rows="5" name="description" placeholder="Description text here."></textarea>
          </span>
          <span class="wpcf7-form-control-wrap DueDate">
             <label class="text1">Due Date:</label>
             <input type="date" name="duedate" value="" size="40" class="textinput wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Due Date">
          </span>
          <span class="wpcf7-form-control-wrap Priority">
             <label class="text1">Priority:</label>
             <input type="text" name="priority" value="" size="40" class="textinput wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder='Type "High", "Medium", or "Low" (Case Sensitive).'>
          </span>
          <span class="wpcf7-form-control-wrap Status">
             <label class="text1">Status:</label>
             <input type="text" name="status" value="" size="40" class="textinput wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder='Type "Not Started", "Planned", "In Progress", "Completed", "Overdue" or "Cancelled" (Case Sensitive)'>
          </span>
          <span class="wpcf7-form-control-wrap ProjectID">
             <label class="text1">Project ID:</label>
             <input type="number" name="projectid" value="" size="40" class="textinput wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Must be a whole number.">
          </span>
          <button type="submit" class="btn transparent">Update Task</button> <!-- Submit button to update the task -->
            <br>
            <br>
            <br>
          <img class="ajax-loader" src="http://www.jordancundiff.com/wp-content/plugins/contact-form-7/images/ajax-loader.gif" alt="Sending ..." style="visibility: hidden;">
      </p>
      <div class="wpcf7-response-output wpcf7-display-none">
      </div>
  </form>
</div>


{% endblock %} <!-- End of content block -->
```